body{
    font-family: "Poppins", sans-serif;
}
*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.options{
    display: flex;
    gap: 20px;
    margin-right: 30px;
}
.heading{
    padding: 10px;
}
.options p{
    cursor: pointer;
    
}
.options p:hover{
        text-decoration: underline;
}
.imagebox{
    display: flex;
    justify-content: center;
    
}
.image1{
    border-radius: 8px;
    width: 90%;
    height: 300px;
}
.brand{
    margin-left: 10px;
    margin-top: 40px;
}

.brandbox{
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    margin: 15px;
}
.branditems{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2vw;
}
.branditems img{
    width: 4vw;
    align-items: center;
}
@media  screen and (max-width:600px) {
    .options{
        display: none;
    }
}