body{
    font-family: "Poppins", sans-serif;
}
*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 20;
    background-color: white;

}
.options{
    display: flex;
    gap: 20px;
    margin-right: 30px;
}
.heading{
    padding: 10px;
}
.options a{
    cursor: pointer;
    color: black;
    
}

.imagebox{
    
    background-color: black;
    width:90% ;
    text-align: center;
    
}
/* .image1{
    border-radius: 8px;
    height:100vh;
    height:100vh; */

.brand{
    margin-left: 10px;
    
    
}

.brandbox{
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    margin: 15px;
}
.branditems{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2vw;
}
.branditems img{
    width: 4vw;
    align-items: center;
}
@media  screen and (max-width:600px) {
    .options a{
        display: none;
    }
}
@media  screen and (min-width:600px) {
    .menu{
        display: none;
    }
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.exp{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}
.exp h2,p{
    font-size: 2vw;
}
.oi{
    background-color: rgb(212, 212, 212);
    height: 30px;
    width: 20vw;
}
.spec{
    display: flex;
    justify-content: space-between;
}

.service-container{
    display: flex;
    gap: 10px;
    margin: 5px;
   
}
.service-container div p{
    font-size: 1vw;
}
.service-container div{
    background-color: #f2f4f7;
    border-radius: 5px;
    font-size: 1vw;
    padding: 10px;
}
.new-arrivals-items{
  width: 20vw;
  position: relative;
  z-index: 1;  
}
.new-arrivals-items-overlay{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0%;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 8%;

    
}
.new-arrivals-items-overlay-button{
    z-index: 5;
    background-color: rgba (255, 255, 255,255);
    padding: 10px;
    color: black;
    border-radius:20px;
    border: none;
    font-size: 1vw;
    padding-top:7px;
    padding-bottom: 7px;
    cursor: pointer;
}
.new-arrivals-container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.most-wanted-container-items p{
    background-color: red;
    display: inline;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
    color:white;
    
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 4px;
}
.most-wanted-container-items{
    position: relative;
}
.most-wanted-container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.offer-container{
    display: flex;
    background-color: #1D232C;
    color: white;
}
.offer-container-rightside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    
}
.offer-container-leftside{
    margin: 20px;
}
.offer-container-leftside img{
    width: 50vw;
}
.news-letter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2vw;
}
.inputbox{
    height:50px;
    width: 90%;
    border:2px solid black;
    margin: 10px;
   
    display: flex;
    justify-content:center;
    align-items: center;
}
.inputbox input{
    width: 90%;
    border:2px solid black;
    height: 100%;
    border: none;
}
.inputbox input:focus{
    outline: none;
}
.subscribe-button{
    padding: 10px;
    background-color: #1D232C;
    color:white;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
}
.footer{
    background-color: #1D232C;
    color: white;
    margin-top: 20px;

}
.footer div{
    padding: 30px;
    font-size: 2vw;
}
.contact-us-items-container{
    background-color:#1D232C ;
    color: white;
    padding: 20px;
    width: 80%;
    height: 80vh;
    border-radius: 10px;
}
.contact-us-items-container button{
    padding: 9px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: blue;
    
}
.contact-us-container{
    display: flex;
    justify-content: center;
    
}
.options a{
    text-decoration: none;

}
.options a:hover{
    text-decoration: underline;
}
.menu-items {
    width: 50%;
    height: 100vh;
    background-color: #1D232C;
    position: fixed;
    top: 0%;
   right: -50%;
    z-index: 43;
    transition: 0.5s ease-out;
    
   
}
.menu-items div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.menu-items p{
    color: rgb(255, 0, 0);
    font-size: 23px;
    text-align: end;
    padding: 10px;
    cursor: pointer;
}