body{
    font-family: "Poppins", sans-serif;
}
*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.options{
    display: flex;
    gap: 20px;
    margin-right: 30px;
}
.heading{
    padding: 10px;
}
.options p{
    cursor: pointer;
    
}
.options p:hover{
        text-decoration: underline;
}