body{
    font-family: "Poppins", sans-serif;
}
*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.options{
    display: flex;
    gap: 20px;
    margin-right: 30px;
}
.heading{
    padding: 10px;
}
.options a{
    cursor: pointer;
    color: black;
    
}

.imagebox{
    
    background-color: black;
    width:90% ;
    text-align: center;
    
}
/* .image1{
    border-radius: 8px;
    height:100vh;
    height:100vh; */

.brand{
    margin-left: 10px;
    font-size:xx-large;
    
}

.brandbox{
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    margin: 15px;
}
.branditems{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2vw;
}
.branditems img{
    width: 4vw;
    align-items: center;
}
@media  screen and (max-width:600px) {
    .options{
        display: none;
    }
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.exp{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}
.exp h2,p{
    font-size: 2vw;
}
.oi{
    background-color: rgb(212, 212, 212);
    height: 30px;
    width: 20vw;
}
.spec{
    display: flex;
    justify-content: space-between;
}

.service-container{
    display: flex;
    gap: 10px;
    margin: 5px;
   
}
.service-container div p{
    font-size: 1vw;
}
.service-container div{
    background-color: #f2f4f7;
    border-radius: 5px;
    font-size: 1vw;
    padding: 10px;
}